// login
$loginBackground: #2d3a4b;

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$subMenuText: #bfcbd9;

$sideBarWidth: 220px;

$appMainBg: #f5f5f5;

$navbarBg: #ffffff;
$navbarHover: rgba(0, 0, 0, 0.025);
$navbarRightText:#5a5e66;

$breadcrumpText: #303133;
$breadcrumpTextHover: #409eff;
$linkTextBackground: #ecf5ff;

$buttonPrimary: #409eff;
$buttonSecondary: #67c23a;
$buttonTertiary: #e6a23c;

$headerTextColor: #409eff;
$linkTextColor: #409eff;

$success: #67c23a;
$danger: #f56c6c;
$warning: #e6a23c;
$slow: #56b1e8;
$light: #c1c3c5;
$info: #606260;

$secondary: #3ecbbc;
$active: #409eff;
$assigned: #f56c6c;
$closed: #909399;
$solved: #3ecbbc;
$inProgress: #e6a23c;
$finished: #67c23a;
$feature: #66d7ff;
$document: #5388ff;
$bug: #fea859;
$research: #82DDF0;
