.border {
  border: 1px solid;
}

.border- {
  &success {
    border-color: $success;
  }
  &danger {
    border-color: $danger;
  }
  &warning {
    border-color: $warning;
  }
  &slow {
    border-color: $slow;
  }
  &warning {
    border-color: $warning;
  }
  &light {
    border-color: $light;
  }
}

.rounded {
  border-radius: 4px;
  &-sm {
    border-radius: 2px;
  }
  &-lg {
    border-radius: 8px;
  }
  &-xl {
    border-radius: 16px;
  }
  &-pill {
    border-radius: 9999px;
  }
}
