.d-inline-block{
    display: inline-block;
}

.el-table{
    font-size: 16px;
}

.status-btn{
    font-size: 14px;
    padding: 2px 11px;
    border-radius: 100px;
    display: inline-block;
}

.status-pending{
    color: #FFFFFF;
    background: #3ECBBC;
}

.status-none{
    color: #989898;
}

.el-table
.el-button{
    color: #989898 !important;
    border: 1px solid #989898;
    background: none !important;
    transition: all .6s ease;
}

.el-table .el-button--primary{
    i{
        color: #409EFF;
    }
    &:hover{
        color: #FFFFFF !important;
        border: 1px solid #409EFF;
        background: #409EFF !important;
        i{
            color: #FFF;
        }
    }
}


.el-table .el-button--danger{
    i{
        color: #F56C6C;
    }
    &:hover{
        color: #FFFFFF !important;
        border: 1px solid #F56C6C;
        background: #F56C6C !important;
        i{
            color: #FFF;
        }
    }
}

.el-table--border td:first-child .cell, 
.el-table--border th:first-child .cell{
    padding-left: 22px;
}

.el-dialog__header{
    padding-left: 12px;
    padding-right: 12px;
}

.el-dialog__body{
    padding-left: 24px;
    padding-right: 24px;
}

.el-form--label-top .el-form-item__label{
    padding-bottom: 0;
}

.status-bar-track{
    background: #F5F5F5;
    border-radius: 5px;
    max-width: 160px;
    width: 100%;
    height: 4px;
    position: relative;
    margin-bottom: 3px;
    margin-left: 5px;
    display: inline-block;
}

.el-form-item__content{
line-height: 100%;
}

.status-bar{
    position: absolute;
    left: 0;
    top: 0;
    background: #3ECBBC;
    height: 4px;
}

.quality-text{
    width: 20%;
}

.d-flex{
    justify-content: space-between;
    display: flex;
}

.loading-bar{
    width: calc(16.6666666% - 2px);
    height: 4px;
    background: #F5F5F5;
    margin-right: 2px;
    display: inline-block;
}

.loading-box{
    font-size: 0;
    width: 80%;
    .loading-bar:nth-child(1){
        border-radius: 10px 0 0 10px;
    }
    .loading-bar:nth-child(6){
        border-radius: 0 10px 10px 0;
    }
    &.status-danger{
        .loading-bar:nth-child(1), .loading-bar:nth-child(2){
            background: #E85656;
        }
    }
    &.status-normal{
        .loading-bar:nth-child(1), .loading-bar:nth-child(2), 
        .loading-bar:nth-child(3), .loading-bar:nth-child(4){
        background: #F9BE6E;
        }
    }
    &.status-full{
        .loading-bar{
            background: #3ECBBC;
        }
    }
}

.bar-header{
    color: #000000;
    font-size: 11px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -77px;
    text-align: center;
    .d-inline-block{
        margin-right: 25px;
    }
}

.legend-box{
    font-size: 0;
    border-radius: 3px;
    background: #EBEBEB;
    width: 20px;
    height: 10px;
    margin-right: 3px;
    display: inline-block;
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, 
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
    content: '';
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:after, 
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:after{
    content: '*';
    color: #E85656;
    font-size: 16px;
    margin-left: 4px;
}


.clearfix .newBtn{
    float: left !important;
}

.el-select{
    float: left;
    margin-right: 25px;
}