// el-table
.el-table {
  font-size: 16px;
}

.el-table .el-button {
  color: #989898 !important;
  border: 1px solid #989898;
  background: none !important;
  transition: all 0.6s ease;
  margin: 0 4px;
  i {
    transition: all 0.6s ease;
  }
}

.el-table .el-button--primary {
  i {
    color: #409eff;
  }
  &:hover {
    color: #ffffff !important;
    border: 1px solid #409eff;
    background: #409eff !important;
    i {
      color: #fff;
    }
  }
}

.el-table .el-button--success {
  i {
    color: $success;
  }
  &:hover {
    color: #ffffff !important;
    border: 1px solid $success;
    background: $success !important;
    i {
      color: #fff;
    }
  }
}

.el-table .el-button--danger {
  i {
    color: #f56c6c;
  }
  &:hover {
    color: #ffffff !important;
    border: 1px solid #f56c6c;
    background: #f56c6c !important;
    i {
      color: #fff;
    }
  }
}

.el-table th > .cell {
  padding-left: 12px;
  padding-right: 12px;
}

.el-table .cell {
  padding-left: 12px;
  padding-right: 12px;
}

.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding-left: 22px;
}

// for AccountManage
.account-manage-table > .el-table--enable-row-hover {
  .el-table__body tr:hover > td:not(:last-child) {
    background: #ede7c0;
    color: #409eff;
    font-size: 17px;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}

// el-form
.el-form--label-top .el-form-item__label {
  padding-bottom: 0;
}

//.el-form-item__content {
//  line-height: 100%;
//}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  content: '';
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
  content: '*';
  color: #e85656;
  font-size: 16px;
  margin-left: 4px;
  transform: translateY(4px);
  display: inline-block;
}

.clearfix .newBtn {
  float: left !important;
}

// el-tag--circle
.el-tag--circle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
  text-transform: capitalize;
  display: inline-block;
  &.el-tag--big {
    width: 90px;
    padding-left: 0;
    padding-right: 0;
  }
  &.el-tag--danger {
    background: $danger;
  }
  &.el-tag--warning {
    background: $warning;
  }
  &.el-tag--slow {
    background: $slow;
  }
  &.el-tag--success {
    background: $success;
  }
  &.el-tag--none {
    color: #989898 !important;
    border: none;
    background: none;
  }
  &.el-tag--active {
    background: #56b1e8;
  }
  &.el-tag--assigned {
    background: #5375bf;
  }
  &.el-tag--solved {
    background: #3ecbbc;
  }
  &.el-tag--finish {
    background: #53bf64;
  }
  &.el-tag--inProgress {
    background: #ec8539;
  }
  &.el-tag--close {
    background: #c4cfcf;
  }
}

.el-card__body {
  h4 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    display: flex;
  }
  .el-divider--horizontal {
    width: calc(100% + 40px);
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .el-tag {
    border-radius: 2px;
  }
}

.project-dialog-loading {
  .el-loading-spinner {
    i {
      font-size: 30px;
    }
    .el-loading-text {
      font-size: 30px;
    }
  }
}

.project-dialog-template-loading {
  .el-loading-spinner {
    i {
      font-size: 15px;
    }
    .el-loading-text {
      font-size: 15px;
    }
  }
}

.text- {
  &success {
    color: $success;
  }
  &danger {
    color: $danger;
  }
  &info {
    color: $info;
  }
}

// VersionChecker tooltip
.update-tooltip.is-dark {
  background: #56b1e8;
  width: 150px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.5px;
  > .popper__arrow {
    border-bottom-color: #56b1e8;
    &:after {
      border-bottom-color: #56b1e8;
    }
  }
}

// AbnormalChecker tooltip
.abnormal-tooltip.is-dark {
  background: #e85656;
  width: 150px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.5px;
  > .popper__arrow {
    border-bottom-color: #e85656;
    &:after {
      border-bottom-color: #e85656;
    }
  }
}