// Spacing property is one of: 
// {property}{direction}-{size}

// property applies: 
// m (margin) 
// p (padding)

// direction applies:
// t (top)
// b (bottom)
// l (left)
// r (right)
// x (left and right)
// y (top and bottom
// a (all directions)

// size applies: 
// 0 ~ 15 (* 4px)

@for $i from 0 through 15 {
  .mt-#{$i} {
    margin-top: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .mb-#{$i} {
    margin-bottom: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .ml-#{$i} {
    margin-left: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .mr-#{$i} {
    margin-right: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .mx-#{$i} {
    margin: 0 $i * 4px;
  }
}

@for $i from 0 through 15 {
  .my-#{$i} {
    margin: $i * 4px 0;
  }
}

@for $i from 0 through 15 {
  .ma-#{$i} {
    margin: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .pt-#{$i} {
    padding-top: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .pb-#{$i} {
    padding-bottom: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .pl-#{$i} {
    padding-left: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .pr-#{$i} {
    padding-right: $i * 4px;
  }
}

@for $i from 0 through 15 {
  .px-#{$i} {
    padding: 0 $i * 4px;
  }
}

@for $i from 0 through 15 {
  .py-#{$i} {
    padding: $i * 4px 0;
  }
}

@for $i from 0 through 15 {
  .pa-#{$i} {
    padding: $i * 4px;
  }
}
