// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 220px;

$success: #67c23a;
$danger: #f56c6c;
$warning: #e6a23c;
$slow: #56b1e8;
$light: #c1c3c5;
$info: #606260;

$secondary: #3ecbbc;
$active: #409eff;
$assigned: #f56c6c;
$closed: #909399;
$solved: #3ecbbc;
$inProgress: #e6a23c;
$finished: #67c23a;
$feature: #66d7ff;
$document: #5388ff;
$bug: #fea859;
$research: #a0da2c;

$danger_border: #5b1111;
$danger_text: #ffffff;
$warning_text: #543a12;
$success_text: #074540;

$danger-1: mix($danger, #ffffff, 10%);
$danger-2: mix($danger, #ffffff, 20%);
$danger-3: mix($danger, #ffffff, 30%);
$danger-4: mix($danger, #ffffff, 40%);
$danger-5: mix($danger, #ffffff, 50%);
$danger-6: mix($danger, #ffffff, 60%);
$danger-7: mix($danger, #ffffff, 70%);
$danger-8: mix($danger, #ffffff, 80%);
$danger-9: mix($danger, #ffffff, 90%);

$info-1: mix(#000000, #ffffff, 10%);
$info-2: mix(#000000, #ffffff, 20%);
$info-3: mix(#000000, #ffffff, 30%);
$info-4: mix(#000000, #ffffff, 40%);
$info-5: mix(#000000, #ffffff, 50%);
$info-6: mix(#000000, #ffffff, 60%);
$info-7: mix(#000000, #ffffff, 70%);
$info-8: mix(#000000, #ffffff, 80%);
$info-9: mix(#000000, #ffffff, 90%);

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  success: $success;
  danger: $danger;
  warning: $warning;
  slow: $slow;
  light: $light;
  info: $info;
  feature: $feature;
  document: $document;
  bug: $bug;
  research: $research;
}
