// login
$loginBackground: #113838;

// sidebar
$menuText: #e0e0e0;
$menuActiveText: #000000;
$subMenuActiveText: #ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #3C5654;
$menuHover: #D7A217;

$subMenuBg: #b2c2c2;
$subMenuHover: #D7A217;
$subMenuText: #000000;

$sideBarWidth: 300px;

$appMainBg: #E4F2F2;

$navbarBg: #3C5654;
$navbarHover: #D7A217;
$navbarRightText:#FFFFFF;

$breadcrumpText: #FFFFFF;
$breadcrumpTextHover: #D7A217;

$buttonPrimary: #3C5654;
$buttonSecondary: #D7A217;
$buttonTertiary: #756046;

$headerTextColor: #000000;
$linkTextColor: #D7A217;
$linkTextBackground: #fff8e6;

$success: #67c23a;
$danger: #f56c6c;
$warning: #D7A217;
$slow: #56b1e8;
$light: #c1c3c5;
$info: #606260;

$secondary: #3ecbbc;
$active: #409eff;
$assigned: #f56c6c;
$closed: #909399;
$solved: #3ecbbc;
$inProgress: #D7A217;
$finished: #67c23a;
$feature: #66d7ff;
$document: #5388ff;
$bug: #fea859;
$research: #82DDF0;
