// sidebar
$menuText: #FFFFFF;
$menuActiveText: #3C5654;
$subMenuActiveText: #FFFFFF; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #3C5654;
$menuHover: #e6a23c;

$subMenuBg: #b2c2c2;
$subMenuHover: #e6a23c;

$sideBarWidth: 220px;

$appMainBg: #E4F2F2;

$navbarBg: #3C5654;
$navbarHover: #e6a23c;
$navbarRightText:#FFFFFF;

$breadcrumpText: #FFFFFF;
$breadcrumpTextHover: #e6a23c;

$success: #67c23a;
$danger: #f56c6c;
$warning: #e6a23c;
$slow: #56b1e8;
$light: #c1c3c5;
$info: #606260;

$secondary: #3ecbbc;
$active: #409eff;
$assigned: #f56c6c;
$closed: #909399;
$solved: #3ecbbc;
$inProgress: #e6a23c;
$finished: #67c23a;
$feature: #66d7ff;
$document: #5388ff;
$bug: #fea859;
$research: #82DDF0;
