@import 'src/styles/theme/variables.scss';

.buttonPrimary {
  background-color: $buttonPrimary;
  color: white;
  &:hover, &:active, &:focus {
    background-color: $buttonPrimary;
    border-color: $buttonPrimary;
    color:white;
  }
}
.buttonSecondary {
  background-color: $buttonSecondary;
  color: white;
  &:hover, &:active, &:focus {
    background-color: $buttonSecondary;
    border-color: $buttonSecondary;
    color:white;
  }
}
.buttonTertiary {
  background-color: $buttonTertiary;
  color: white;
  &:hover, &:active, &:focus {
    background-color: $buttonTertiary;
    border-color: $buttonTertiary;
    color:white;
  }
}
.buttonInfo {
  background-color: $info;
  color: white;
  &:hover, &:active, &:focus {
    background-color: $info;
    border-color: $info;
    color:white;
  }
}
.buttonPrimaryReverse {
  border-color: #989898;
  color: #989898;
  background-color: none;
  &:hover, &:active, &:focus {
    background-color: $buttonPrimary !important;
    border-color: $buttonPrimary !important;
    color:white !important;
  }
}
.buttonSecondaryReverse {
  border-color: #989898;
  color: #989898;
  background-color: none;
  &:hover, &:active, &:focus {
    background-color: $buttonSecondary !important;
    border-color: $buttonSecondary !important;
    color:white !important;
  }
}
.buttonInfoReverse {
  border-color: #989898;
  color: #989898;
  background-color: none;
}
.headerTextColor {
  color: $headerTextColor !important;
}

.linkTextColor {
  color: $linkTextColor !important;
}

.tabsTextColor {
  color: #989898 !important;
  &:hover, &:active, &:focus {
    color: $linkTextColor !important;
  }
}