// global transition css

/* slide-up */
@keyframes slide-up {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* slide down */
@keyframes slide-down {
  0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0%);
	}
}

.slide-down-enter-active {
  animation: slide-down .5s ease-out;
}
.slide-down-leave-active {
  animation: slide-down .5s reverse;
}

/* swing */
@keyframes swing {
  10% {
    transform: rotate(-15deg) scale(1.025);
  }
  20% {
    transform: rotate(10deg) scale(1.1);
  }
  30% {
    transform: rotate(-5deg) scale(1.05);
  }
  40% {
    transform: rotate(5deg) scale(1.075);
  }
  50%, 100% {
    transform: rotate(0deg);
  }
}

/* swing-reverse */

@keyframes swing-reverse {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50%, 100% {
    transform: rotate(0deg);
  }
}

/* cloud-left */
@keyframes cloud-left {
  0% {
    top: 17px;
    left: 220px;
    opacity: 0;
  }
  20% {
    top: 33px;
    left: 188px;
    opacity: 1;
  }
  80% {
    top: 81px;
    left: 92px;
    opacity: 1;
  }
  100% {
    top: 97px;
    left: 60px;
    opacity: 0;
  }
}

/* cloud-mid */
@keyframes cloud-mid {
  0% {
    top: 10px;
    left: 420px;
    opacity: 0;
  }
  20% {
    top: 40px;
    left: 360px;
    opacity: 1;
  }
  70% {
    top: 130px;
    left: 180px;
    opacity: 1;
  }
  100% {
    top: 160px;
    left: 120px;
    opacity: 0;
  }
}

/* cloud-right */
@keyframes cloud-right {
  0% {
    top: 100px;
    left: 500px;
    opacity: 0;
  }
  20% {
    top: 120px;
    left: 460px;
    opacity: 1;
  }
  80% {
    top: 180px;
    left: 340px;
    opacity: 1;
  }
  100% {
    top: 200px;
    left: 300px;
    opacity: 0;
  }
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
